/**************************
GENERAL
***************************/

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;;
  font-size: 3em;
  font-weight: normal;

}

body {
  font-family: 'Open Sans', sans-serif;;
  font-size: 1em;
  background-color: #EEEEEE;
}

header {
  width: 100%;
  padding: 5px 0;
}

.wrapper {
  margin: 10 auto;
  padding: 0;
  text-align: center;
}


#new-grid {
  margin-bottom: 20px;
}
/**************************
GRID AREA
***************************/

.gridArea {

  padding: 1px;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}
.gridSquare {
  width: 6.25%;
  height: 6.25%;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
}


/**************************
FOOTER
***************************/

footer {
  margin-top: 20px;
  text-align: center;
}

/**************************
COLORS
***************************/

header {
  background: red;
}

h1 {
  color: white;
}

p{
  color: black;
}

.gridSquare {
  background-color: #000;
}
