/**************************
GENERAL
***************************/

h1 {
  text-align: center;
  font-family: 'Finger Paint', sans-serif;;
  font-size: 3em;
  font-weight: normal;

}

header {
  width: 100%;
  padding: 5px 0;
}

.wrapper {
  margin: 10px auto;
  padding: 0;
  text-align: center;
  height: 960px;
  width: 960px;

}
/**************************
GRID AREA
***************************/

.gridArea {
  width: 690px
  height: 690px;
}
.gridSquare {
  width: 41.125px;
  height: 41.125px;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
}


/**************************
FOOTER
***************************/

footer {
  text-align: center;
}

/**************************
COLORS
***************************/

header {
  background: red;
}

h1 {
  color: white;
}

p{
  color: black;
}

.gridSquare {
  background-color: #000;
}
